*{
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

body{
	background-size: cover;
	background-attachment: fixed;
}

h1, a{
	text-transform: uppercase;
}