.cuadricula{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	width: 90vw;

	/*si el contenido interno es mayor a 95vh, la fila crece*/
	grid-auto-rows: minmax(95vh, auto);
	
	align-items: center;
	justify-items: center;
}


/*Casilla de navegación*/

.nav-pagina{
	width: 100%;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;

	transform: none;
	opacity: 1;
	transition: 
		transform 3s,
		opacity 3s;
}

.nav-pagina.estado-inicial{
	opacity: 0;
}

.nav-pagina.casilla-izd.estado-inicial{
	transform: translate(-30vw);
}

.nav-pagina.casilla-der.estado-inicial{
	transform: translate(30vw);
}

.nav-pagina > img{
	height: 50%; 
	width: auto;
}

.nav-pagina > p{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 65%;
	min-height: 8%;
}

.nav-pagina > a{
	background-color: #2F3645;
	color: white;
	height: 7%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Casilla de historia */

.img-historia{
	width: 95%;
	height: auto;
}

.div-historia{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
	gap: 30px;
}

.div-historia > h2{
	text-align: center;
}


/*animación historia*/

.zona-historia{
	perspective: 1000px;
}

.zona-historia > .estado-inicial{
	opacity: 0;
}


/* las rotaciones no se aplican bien */
.zona-historia > .casilla-izd.estado-inicial
{
	transform: rotateY(-50deg);
	transform-origin: left;
}

.zona-historia > .casilla-der.estado-inicial{
	transform: rotateY(50deg);
	transform-origin: right;
}

.zona-historia > *{
	opacity: 1;
	transform: none;
	transition: 
		transform 3s,
		opacity 3s;
}