.zona-video{
	background-color: #223344;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: fix-content;
	padding: 5px;
	gap: 5px;
	box-sizing: border-box;
}

.zona-video > video{
	height: 90%;
	width: auto;
}

.zona-video > .barra-reproduccion{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	color: white;
}

/*Zona de botones*/
.zona-video > .barra-reproduccion > div{ 
	display: flex; 
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;
	height: 100%;
	width: 20%;
}

.zona-video > .barra-reproduccion > div > button{
	height: 100%;
	width: 50%;
}