*{
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
	font-weight: normal;
}

body{
	background-image: url("./imágenes/fondo.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h1, h2{
	text-transform: uppercase;
}

#presentacion{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo{
	color: #FFFFFFE0;
	font-size: 4rem;
	text-shadow: 
		2px 2px #767A81DE,
		6px 6px black;
}

#principal{
	min-height: 110vh;
	width: 100vw;
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 80px;
}

.subtitulo{
	color: #2F3645;
	font-size: 3rem;
	text-shadow: 
		1px 1px white,
		2px 2px #767a81de;
}

.cuadricula{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	width: 90vw;
	grid-auto-rows: 600px;
}

.cuadricula > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}


.cuadricula > div > img{
	height: 50%; 
	width: auto;
}

.cuadricula > div > p{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 65%;
	min-height: 8%;
}

.cuadricula > div > a{
	background-color: #2F3645;
	color: white;
	height: 7%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;text-decoration: none; text-transform: uppercase;
}

/*elementos de pie de página*/

#pie{
	background-color: cadetblue; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 500px;
}

#izda{
	height: 300px;
	width: 400px;
	background-color: indianred;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#logo-pie{
	width: 120px;
	height: auto;
}

#titulo-pie{
	font-size: 15px;
	font-weight: bold;
	background-color: cadetblue;
	width: 120px;
	text-align: center;
}

#der{
	height: 80px;
	width: 95px;
	background-color: blue;
}